.oneCategory_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.oneCategory_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    margin-left: 40px;
    color: #000000;
}

.oneCategory_content{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-column-gap: 250px;
    grid-row-gap: 44px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
  }
  
  /*.oneCategory_button{
      width: 279px;
      height: 72px;
      background: #f1fff1;
      border: 2px solid #339933;
      border-radius: 21px;
      color: #339933;
      font-family: 'Monserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 18px; 
  }*/

.oneCategory_product{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

.oneProductImage {
    width: 320px;
    height: 275px;
    border-radius: 15px;
}

.category_price {
    display: flex;
    align-items: center;
}