.sales {
    width: 100%;
    height: 600px;
    background-color: #A1E2EB;
}

.sales_wrapper {
    width: 100%;
    height: 600px;
    margin-top: 2em;
    display: flex;
}

.left_side {
    width: 58%;
    height: 100%;
}

.h1, h2 {
    font-weight: 700;
    font-size: 75px;
    line-height: 130%;
    color: #FFFFFF;
    width: 50%;
    white-space: nowrap;
}

.h1 {
    margin-top: 130px;
    margin-left: 50px;
}

.h2 {
    margin-left: 50px;
    margin-top: 3px;
}

.buttons_bottom {
    display: flex;
}

.all_sales, .details {
    width: 241px;
    height: 82px;
    background-color:#FFFFFF;
    border-radius: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #2d2d2d;
    border: 2px solid #ffffff;
    margin-left: 50px;
    margin-top: 2em;
}

.all_sales {
    display: flex;
    align-items: center;
    justify-content: center;
}

.all_salesLink {
    text-decoration: none;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #A1E2EB;
}

.right_side {
    display: flex;
}

.garden_img {
    width: 100%;
}