.sales {
    width: 100%;
    height: 600px;
    background-color: #A1E2EB;
}

.sales_wrapper {
    width: 100%;
    height: 600px;
    margin-top: 2em;
    display: flex;
}

.left_side {
    width: 58%;
    height: 100%;
}

.h1, h2 {
    font-weight: 700;
    font-size: 75px;
    line-height: 130%;
    color: #FFFFFF;
    width: 50%;
    white-space: nowrap;
}

.h1 {
    margin-top: 130px;
    margin-left: 50px;
}

.h2 {
    margin-left: 50px;
    margin-top: 3px;
}

.buttons_bottom {
    display: flex;
}

.all_sales, .details {
    width: 241px;
    height: 82px;
    background-color:#FFFFFF;
    border-radius: 13px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #2d2d2d;
    border: 2px solid #ffffff;
    margin-left: 50px;
    margin-top: 2em;
}

.all_sales {
    display: flex;
    align-items: center;
    justify-content: center;
}

.all_salesLink {
    text-decoration: none;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #A1E2EB;
}

.right_side {
    display: flex;
}

.garden_img {
    width: 100%;
}

.categories_main {
    margin-bottom: 100px;
    padding: 30px;
}

.categories_h {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.categories_h h6 {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
}

.categories_h button {
    width: 120px;
    height: 30px;
    margin-left: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #8B8B8B;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #8B8B8B;
}

.categories_home {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.categories_types {
    width: 100%;
    height: 400px;
}

.categories_wrapper p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: black;
}

.categories_image {
    width: 320px;
    height: 330px;
    border-radius: 10px;
    object-fit: cover;
    image-rendering: pixelated;
}

.categories_image:hover {
    transform: scale(1.05);
    transition: 500ms ease;
}

.p_categories {
    text-decoration: none;
}

.categories_link {
    text-decoration: none;
}

.sales_input {
    font-family: 'Montserrat';
    width: 100%;
    height: 475px;
    background: linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%);
}

.s_input_wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0px 100px;
}

.left_side_s_input {
    height: 100%;
}

.gnom_img {
    width: 422px;
    height: 422px;
    margin-bottom: 27px;
    margin-top: 27px;
}

.right_side_s_input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right_side_s_input, h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    white-space: nowrap;
}

.form_input {
    width: 475px;
    height: 75px;
}

.input_number {
    width: 473px;
    height: 75px;
    background: #FFFFFF;
    border-radius: 25.1468px;
    font-size: 20px;
}

.input_number::placeholder {
    padding-left: 40px;
}

.get_discount {
    width: 473px;
    height: 75.44px;
    border-radius: 25.1468px;
    font-weight: 700;
    font-size: 28.7392px;
    line-height: 120%;
    letter-spacing: 0.03em;
    background-color: #339933;
    border: 2.39494px solid #FFFFFF;
    color: #FFFFFF;
}

.discounts_main {
    width: 100%;
    height: 400px;
    margin-top: 45px;
    margin-bottom: 150px;
    margin-left: 30px;
}

.discounts_main h6 {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
}

.discounts_wrapper {
    display: flex;
    text-align: center;
    margin-top: 21px;
}

.discounts_title {
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: black;
}

.discounts_link {
    text-decoration: none;
    margin-right: 12em;
}

.discounts_img_wrapper {
    display: flex;
    flex-direction: column;
}

.discounts_image {
    width: 320;
    height: 275px;
    border-radius: 10px;
    object-fit: cover;
    image-rendering: pixelated;
}

.discounts_price {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.price {
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: black;
}

.price_disc {
    margin-left: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-decoration-line: line-through;
    color: #8B8B8B;
}

.percent {
    margin-left: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #FF32A1;
}