.header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
}

.catalog_button_link {
    text-decoration: none;
}

.header_left {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: 32px;
    list-style-type: none;
}

.header ul.navigation li a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
    text-decoration: none;
}

.header ul.navigation li a:hover {
    opacity: 0.5;
    color: #339933;
    transition: opacity 500ms;
}

.catalog_button {
    width: 110px;
    text-align: center;
    background: #339933;
    border: 12px solid #339933;
    border-radius: 5px;
}

.a_catalog {
    text-decoration: none;
    color: white;
}

.catalog_button:hover {
    cursor: pointer;
}

.header_logo {
    margin-right: 89px;
    margin-left: 26px;
}

.basket_block {
    width: 100%;
    margin-left: 50px;
    position: relative;
}

.basket_count {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 12px;
}