.button_elem{
    width: 279px;
    height: 72px;
    background: #F1FFF1;
    border: 2px solid #339933;
    border-radius: 21px;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #339933;
    cursor: pointer;
}

.big_button {
    width: 397px;
    height: 86px;
    background: #339933;
    border: 2px solid #339933;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    margin-top: 40px;
    cursor: pointer;
}